* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 30px;
  text-align: center;
  background: #405752;
  color: white;
}

.top_banner {
  padding: 0.5px;
  background-color: lightslategrey;
  text-align: center;
  align-content: center;
  padding-left: 25%;
  padding-right: 25%;
}

.top_banner h1 {
  color: #333;
  border-radius: 8px;
  background: white;
  height: auto;
  width: auto;
}

/* Style the side navigation bar */

.sidenav {
  text-align: center;
  border-style: double;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  background-color: lightslategray;
}

.sidenav a {
  text-decoration: none;
  display: block;
  background-color: #405752;
  border-color: white;
  border-style: double;
  padding: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.sidenav a:hover {
  background-color: lightslategrey;
  color: #fff;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 35%;
  background-color: lightslategray;
  padding: 5px;
}

/* Main column */
.main {
  flex: 65%;
  background-color: rgb(0, 0, 0);
}

.main_promo {
  width: auto;
  height: auto;
  background-color: rgb(0, 0, 0);
  background-image: url("img/mainpromo1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 85%;
}

.main_promo h1 {
  text-align: center;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 2%;
}

/* Fake image, just for this example */
.titleimg {
  background-color: #aaa;
  width: 100%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
